.THIS .options {
   background-color: #FFF;
   border-left: 2px solid #d8dde6;
   border-right: 2px solid #d8dde6;
   border-bottom: 2px solid #d8dde6;
}

.THIS .slds-form-element__legend{
    display:none;
}