/*.THIS.outerContainer{
    max-width: 336px;
}*/

.THIS .hidden{
    display:none;
}

.THIS .bottomUp{
    bottom: 2px;
}

.THIS .tileTitle{
    font-size:.95rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: uppercase;
    line-height: 19px;
}
.THIS .tileCategory {
    font-size: 0.65rem;
    line-height: 2.25;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    font-style:italic;
}

.THIS .tileInfo {
    position: relative;
    height: 168px;
    border-top:0px !important;
}

.THIS .creatorInfo {
    width: 95%;
    position: absolute;
    bottom: 2px;
}

.THIS .avatar {
    border-radius: 50%;
}

.THIS .ideaTileBanner{
    height: 140px;
    line-height: 148px;
    overflow: hidden;
    background-color: rgba(171, 173, 176, 0.72);
    overflow:hidden;
    border-bottom: 1px solid rgba(171, 173, 176, 0.72);
    margin-bottom: 4px;
}

.THIS.tileWrapper {
    background-color: white;
}

.THIS .cursorPointer{
    cursor:pointer;
}