.THIS .options {
   background-color: #FFF;
   border-left: 2px solid #d8dde6;
   border-right: 2px solid #d8dde6;
   border-bottom: 2px solid #d8dde6;
}

.THIS .createButton {
    width: 100%;
    border-radius: 0;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 1em;
    text-transform: uppercase;
    margin-top: 20px;
}

.THIS.ql-bold {
    display: none !important;
}